<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samuel.hug" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_activity_hug"
        android:theme="@style/AppTheme" >

        <activity android:name=".HugActivity" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>

        <activity
            android:name=".FindActivity"
            android:label="@string/title_activity_find" >
        </activity>

        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>

        <activity
            android:name=".HugsActivity"
            android:label="@string/title_activity_hugs" >
        </activity>

        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>

    </application>

</manifest>
